<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Tetris.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <Tetris.Properties.Settings>
            <setting name="Grid_Colour" serializeAs="String">
                <value>25, 25, 25</value>
            </setting>
            <setting name="Bottom_Of_Play_Area" serializeAs="String">
                <value>20</value>
            </setting>
            <setting name="Right_Of_Play_Area" serializeAs="String">
                <value>9</value>
            </setting>
            <setting name="Left_Of_Play_Area" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Top_Of_Play_Area" serializeAs="String">
                <value>19</value>
            </setting>
            <setting name="Number_Of_Columns" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="Number_Of_Rows" serializeAs="String">
                <value>20</value>
            </setting>
            <setting name="Cell_Width" serializeAs="String">
                <value>27</value>
            </setting>
            <setting name="Cell_Height" serializeAs="String">
                <value>27</value>
            </setting>
            <setting name="Left_Grid_Margin" serializeAs="String">
                <value>150</value>
            </setting>
            <setting name="Top_Grid_Margin" serializeAs="String">
                <value>22</value>
            </setting>
            <setting name="Line_Clear_Color" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="Game_Starting_Timer_Interval" serializeAs="String">
                <value>1000</value>
            </setting>
            <setting name="Number_Of_Lines_Needed_To_Level_Up" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="Level_Up_Timer_Decrease" serializeAs="String">
                <value>67</value>
            </setting>
            <setting name="Winning_Level" serializeAs="String">
                <value>15</value>
            </setting>
            <setting name="HighScores_FilePath" serializeAs="String">
                <value>highScores.xml</value>
            </setting>
            <setting name="Losing_Game_Text" serializeAs="String">
                <value>You made a new High Score!!!!!!!</value>
            </setting>
            <setting name="Winning_Game_Text" serializeAs="String">
                <value>You didn't make the High Scores</value>
            </setting>
        </Tetris.Properties.Settings>
    </userSettings>
</configuration>